name: Build
on: [pull_request]


jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Install brakeman
        run: |
          sudo gem install brakeman -v 5.2.3
      - name: brakeman 
        run: |
          brakeman -A -o results.sonar || exit 0

      - name: SonarQube Scan
        uses: sonarsource/sonarqube-scan-action@master
        with:
          args: >
            -Dsonar.externalIssuesReportPaths=results.sonar  
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_DOCKER_URL }}
